:root {
    --accent-white: white;
    --accent-red: #ef4b3f;
    --main-bg-color: white;
    --paragraph:#212121;
    --main-text:var(--accent-white)
}


body{
    background: var(--main-bg-color);
    font-family: 'Roboto', sans-serif;
}
header {
    background:url(https://ssl.gstatic.com/atari/images/aristotle-header-dark.jpg);
    /* background-size: 100% 100%; */
    background-size: cover;
    background-repeat: no-repeat;
}

header h1 {
    color: var(--main-text);
    text-align: center;
    font-size: 60px;
    font-family: Roboto, sans-serif;
    letter-spacing: -0.5px;
    /* font-weight: 550; */
    text-size-adjust: 100%;
    line-height: 75.6px
}
h1 .underline {
height: 8px;
background-color: #ef4b3f;
opacity: 1;
width: 100px;
margin: 10px auto;
}
header::before{
    background-color: #212121;
    opacity: 0.5;
}
.home-header {
    /* border: 1px solid red; */
    height: 100vh;
    padding: 8px;
}