@import url("bootstrap.min.css");
@import url("slick.css");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap");

:root {
  --accent-white: #ffffff;
  --accent-red: #ef4b3f;
  --main-bg-color: white;
  --paragraph: #000000;
  --main-text: var(--accent-white);
  --scale-rate: 15;
  font-size: 14px;
}
* {
  font-family: "Lora", sans-serif !important;
}
html,
body {
  overflow-x: hidden;
}

body {
  background: var(--main-bg-color);
}

main {
  margin-bottom: 4em;
}

.float {
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-flaot-icon{
  color: #fff;
}


nav {
  position: fixed;
  top: 0;
}

.nav-logo img {
  height: 56px;
  width: 45px;
  margin: 0 10px 0 20px;
  padding: 10px;
}

header {
  background: url("../images/aristotle-header-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header h1 {
  color: var(--main-text);
  text-align: center;
  font-size: 3.75rem;
  font-family: "Lora", sans-serif;
  letter-spacing: -0.5px;
  text-size-adjust: 100%;
}

h1 .underline {
  height: 8px;
  background-color: #ef4b3f;
  opacity: 1;
  width: 100px;
  margin: 10px auto;
}

header::before {
  background-color: #212121;
  opacity: 0.5;
}
p {
  text-align: justify;
}
hr:not(.underline) {
  margin: 2em 0 !important;
}
.home-header {
  height: 100vh;
  padding: 8px;
  position: relative;
}

.other-header {
  height: 300px;
  padding: 8px;
  position: relative;
}

.down-caret {
  opacity: 0.5;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.arrow-wrapper {
  display: flex;
  display: none;
  align-items: center;
  justify-self: center;
}

.icon-left {
  margin: 0 auto;
  transform: rotate(90deg);
}

.icon-right {
  margin: 0 auto;
  transform: rotate(270deg);
}

.down-caret:hover {
  opacity: 1;
}

.home-slider__title {
  color: var(--accent-red);
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  display: block;
  cursor: pointer;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #fff;
}

.home-slider__title:hover {
  color: var(--accent-red);
}

.home-slider__title-about {
  color: var(--accent-red);
  font-size: 2rem;
  font-weight: bold;
}
.home-slider__title-about,
.home-slider__title.text-decoration-none {
  cursor: auto;
}
.home-slider__txt {
  color: var(--paragraph);
  font-family: "Lora", sans-serif;
}

.home-slider__txt-about {
  color: var(--paragraph);
  font-family: "Lora", sans-serif;
  margin-top: 10px;
  padding-left: 0;
}

.home-slider__img {
  margin: 0 auto;
  display: block;
}

.slick-arrow {
  all: unset;
}

.carousel {
  max-width: 600px;
  margin: 0 auto;
}

.navbar-fixed-top {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  border-bottom: 1px solid var(--accent-red);
}

.navbar-fixed-top.scrolled .navbar-brand {
  color: var(--accent-red);
  font-size: medium;
  transition: font-size 0.3s linear;
}

.nav-logo a img {
  transition: all 0.3s ease;
}

.navbar-fixed-top.scrolled .nav-logo a img {
  width: 40px;
  height: 50px;
  transition: all 0.3s ease;
}

.slick-track img {
  width: auto;
  height: 350px;
  object-fit: cover;
}

.your-class {
  position: relative;
}

#sl1 .slick-prev,
.pull-left {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 40%;
  transform: translateY(-40%);
}

.slick-dots {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  padding: 0;
  left: 30px;
  position: relative;
  height: 30px;
}

.slick-dots > li button {
  visibility: hidden;
  padding: 0;
  margin: 10px 3px;
  text-align: center;
  width: 0px;
  padding-right: 8px;
}

.slick-dots > li::marker {
  color: #bdc1c6;
  padding: 0;
  font-size: 30px;
  line-height: 10px;
  text-align: center;
  display: inline-block;
}

.slick-dots > li.slick-active::marker {
  color: var(--accent-red);
}

#sl1 .slick-next,
.pull-right {
  position: absolute;
  right: 0;
  z-index: 2;
  top: 40%;
  transform: translateY(-40%);
}

/* slider start */
.carousel__photo {
  width: 100px;
  height: 200px;
}

.carousel__photo-static {
  width: 100%;
  height: 250px;
  max-height: 250px;
}

.navbar-toggler {
  all: unset !important;
}

.navbar-toggler:focus {
  outline: 0 !important;
  all: unset !important;
}

.aumetal-nav .navbar-brand {
  color: #fff;
  font-family: "Lora";
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  width: min-content;
  max-width: 50%;
  padding-top: 0;
  transition: font-size 0.3s linear;
}

#navbarTogglerDemo03 a.nav-text-color {
  color: #fff;
  padding: 0;
  margin: 7px;
  font-size: larger;
  transition: font-size 1s;
}

#navbarTogglerDemo03 a.nav-text-color.active {
  color: var(--accent-red);
  font-weight: 800;
  border-bottom: 1px solid var(--accent-red);
}

.scrolled #navbarTogglerDemo03 a {
  color: #000;
  font-size: medium;
  transition: font-size 1s;
}

.scrolled #navbarTogglerDemo03 a.active {
  font-family: "Lora";
  font-weight: 800;
}

.arrow-wrapper {
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}

/* slider end */

.navbar-light .navbar-toggler-icon {
  background-image: unset;
  position: relative;
}

span.navbar-toggler-icon {
  margin: 5px;
  line-height: 1;
  font-size: 15px;
  z-index: 10;
}

span.navbar-toggler-icon.collapsed {
  border: 1px solid yellowgreen;
}

.scrolled span.navbar-toggler-icon {
  margin: 5px;
  line-height: 1;
  font-size: 15px;
  color: var(--accent-red);
}

.contact-icons {
  text-decoration: none;
}

.contact-icons img {
  margin-right: 10px;
}
#loading {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* xs */
@media (max-width: 0) {
  header h1 {
    font-size: 2.35rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 1.5rem;
  }

  .nav-logo .navbar-brand {
    display: none;
  }
  :root {
    --scale-rate: 7;
  }
  #navbarTogglerDemo03 {
    background-color: #fff;
    height: 100vh;
    position: absolute;
    top: 0;
    /* right: 0; */
    width: 60%;
    padding-top: 4em;
    border-left: 1px solid red;
  }

  #navbarTogglerDemo03::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 64 64'%3E%3Cline x1='9.37' x2='54.63' y1='9.37' y2='54.63' fill='none' stroke='%23010101' stroke-miterlimit='10' stroke-width='4'/%3E%3Cline x1='9.37' x2='54.63' y1='54.63' y2='9.37' fill='none' stroke='%23010101' stroke-miterlimit='10' stroke-width='4'/%3E%3C/svg%3E");
    color: red;
    display: block;
    border: 1px solid green;
  }

  #navbarTogglerDemo03 a.nav-text-color {
    margin: 0;
    padding: 1em;
    color: #000000;
    font-size: medium;
    border-bottom: 1px solid;
  }

  span.navbar-toggler-icon {
    margin: 5px;
    line-height: 1;
    font-size: 15px;
    color: var(--accent-red);
  }
  .navbar-collapse {
  position: absolute;
  top: 54px;
  right: -100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 100%;
  transition: all 0.4s ease;
  display: block;
}
.navbar-collapse.collapsing {
  height: 100vh !important;
  margin-left: 50%;
  left: 50%;
  transition: all 0.2s ease;
}
.navbar-collapse.show {
  right: 0;
} 
}

/* sm */
@media (max-width: 576px) {
  header h1 {
    font-size: 2.35rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}

/* md */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  .nav-items {
    flex-direction: row-reverse;
  }

  .nav-items a img{
    margin: 0;
  }
}

/* lg */

@media (max-width: 992px) {
  h1 {
    font-size: 1.5rem;
  }
  .nav-items {
    flex-direction: row-reverse;
  }
  .nav-items a img {
    margin: 0;
  }
  .nav-logo .navbar-brand {
    display: none;
  }
}

/* xl */
@media (max-width: 1200px) {
  .nav-logo .navbar-brand {
    display: none;
  }
}

/* SCROLL BAR CSS STARTS*/
/* width */
::-webkit-scrollbar {
  width: 0.9em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0.9em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-red);
  border: 3px solid transparent;
  border-radius: 0.9em;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e62e20;
  border: 3px solid transparent;
  border-radius: 0.9em;
  background-clip: content-box;
}
/* SCROLL BAR CSS ENDS*/

/* animations */
@keyframes slit-in-horizontal {
  0% {
    transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }

  54% {
    transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }

  100% {
    transform: translateZ(0) rotateX(0);
  }
}
@keyframes puff-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(var(--scale-rate));
    opacity: 1;
  }
}

.puff-out-center-long {
  animation: puff-out-center 3000ms ease-out both;
}
.puff-out-center-short {
  animation: puff-out-center 2000ms ease-out both;
}
.slit-in-horizontal {
  animation: slit-in-horizontal 0.45s ease-out both;
}
